.footer {
	background-color: #181818;

	.footer-top {
		display: flex;
		background-color: #151515;
		padding-top: 11px;
		padding-bottom: 10px;

		.container {
			@include media-down(440px) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.row {
			justify-content: space-between;
			align-items: center;
		}

		.copy {
			@include media-down(768px) {
				display: none;
			}
		}

		@include media-down(440px) {
			padding-top: 24px;
			padding-bottom: 13px;
		}
	}

	.social-menu {
		width: calc(100% - 338px);

		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0;
			padding: 9px 0 5px;
		}

		&__elem {
			list-style-type: none;
			transition: transform 0.3s;
			&:hover {
				color: lighten(#2d2d2f, 20%);
				transform: scale(1.1);
			}
		}

		&__link {
			display: inline-block;
			font-size: 52px;
			color: #2d2d2f;
			text-decoration: none;
			transition: color 0.3s;
			&:hover {
				color: lighten(#2d2d2f, 20%);
			}
		}

		@include media-down(880px) {
			width: auto;
			flex-grow: 1;
		}

		.icon-evernote {
			font-size: 52px;
			transform: translate(-6px, 1px);
			@include media-down(440px) {
				font-size: 40px;
			}
		}
		.icon-facebook {
			transform: translate(-5px, 1px);
			font-size: 45px;
			@include media-down(440px) {
				font-size: 35px;
			}
		}
		.icon-pinterest {
			transform: translateY(1px);
			font-size: 42px;
			@include media-down(440px) {
				font-size: 33px;
				transform: translate(-3px, -1px);
			}
		}
		.icon-twitter {
			transform: translate(3px, -1px);
			@include media-down(440px) {
				font-size: 39px;
				transform: translate(-2px, -2px);
			}
		}
		.icon-youtube {
			transform: translateX(1px);
			font-size: 49px;
			@include media-down(440px) {
				font-size: 38px;
				transform: translate(-1px, -1px);
			}
		}
		.icon-github {
			transform: translateY(-1px);
			padding-right: 26px;
			font-size: 50px;
			@include media-down(768px) {
				padding-right: 0;
			}
			@include media-down(440px) {
				font-size: 38px;
				transform: translate(3px, -2px);
			}
		}
	}

	p.copy {
		width: 338px;
		flex-shrink: 0;
		margin-bottom: 0;
		font-size: 32px !important;
		letter-spacing: -0.035em;
		color: #444 !important;
		text-align: right;

		span {
			display: inline-block;
			margin-right: 5px;
			font-size: 27px !important;
			line-height: 27px;
		}

		@include media-down(880px) {
			width: auto;
		}

		&--mobile {
			display: none;
			@include media-down(880px) {
				display: block;
				text-align: center;
			}
		}
	}

	.footer-main {
		padding-top: 24px;
		padding-bottom: 10px;

		&__row {
			justify-content: space-between;

			@include media-down(880px) {
				flex-direction: column;
			}
		}

		&__left {
			margin: 0 -10px;
			justify-content: space-between;
			width: calc(100% - 338px);

			@include media-down(670px) {
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			.col {
				min-width: 166px;
				padding: 0 10px;

				&:first-child {
					@include media-down(670px) {
						margin-bottom: 41px;
					}
				}

				&:nth-child(2) {
					padding-left: 36px;
					@include media-down(1100px) {
						padding-left: 10px;
					}
				}

				@include media-down(670px) {
					margin-bottom: 52px;
				}
			}

			@include media-down(880px) {
				width: auto;
			}
		}

		h2 {
			margin-bottom: 22px;
			letter-spacing: -0.025em;
			color: #444;
		}

		a,
		p {
			font-size: 16px;
			line-height: 19px;
			color: #bbbbbb;
			text-decoration: none;
		}

		p {
			margin-bottom: 12px;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			padding-left: 0;
			li {
				margin-bottom: 12px;
				list-style-type: none;
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			flex-shrink: 0;
			width: 338px;
			text-align: right;

			img {
				display: inline-block;
				max-width: 100%;
				margin-bottom: 18px;
			}

			p {
				margin-bottom: 11px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: -0.025em;
				color: #5c5c5c;

				@include media-down(400px) {
					br {
						display: none;
					}
				}
			}

			@include media-down(880px) {
				align-items: center;
				width: auto;
				margin-bottom: 45px;
				text-align: center;
			}
		}

		@include media-down(670px) {
			padding-top: 37px;
			padding-bottom: 44px;
		}
	}
}
