.header {
	padding-top: 109px;
	background-color: #060605;
	background-image: url("../images/common/header_bg.jpg");
	background-size: auto 100%;
	background-position: top center;
	background-repeat: no-repeat;

	.mobile-navigation {
		display: none;
		justify-content: space-between;
		align-items: center;
		padding: 20px 16px 18px;

		.mmenu-toggle {
			position: relative;
			width: 28px;
			height: 18px;
			border: 2px solid #fff;
			border-width: 2px 0;
			background-color: transparent;
			&::before {
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				content: "";
			}
		}

		.search-toggle {
			position: relative;
			width: 26px;
			height: 26px;
			border-width: 0;
			background-color: transparent;
			transform: translate(-3px, -1px);
			&::before {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 3px;
				left: 3px;
				font-family: "icomoon" !important;
				font-size: 20px;
				color: #fff;
				content: "\e906";
			}
		}

		@include media-down(768px) {
			display: flex;
		}
	}

	.main-menu {
		background-color: rgba(#111, 0.85);

		&__list {
			display: flex;
			justify-content: space-between;
			padding-top: 2px;
			padding-bottom: 3px;
		}

		&__elem {
			width: 88px;
			list-style-type: none;
			text-align: center;
		}

		&__link {
			display: block;
			padding: 5px;
			font-size: 26px;
			line-height: 31px;
			letter-spacing: -0.025em;
			color: #fff;
			text-decoration: none;
			span {
				position: relative;
				z-index: 1;
				&::after {
					position: absolute;
					z-index: -1;
					bottom: 4px;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: rgba(#fff, 0.5);
					content: "";
					transform: scaleX(0);
					transition: transform 0.3s;
					transform-origin: 0 50%;
				}
			}
			&:hover {
				span::after {
					transform: scaleX(1);
				}
			}
		}

		@include media-down(768px) {
			display: none;
		}
	}

	.mobile-header {
		display: none;
		padding-top: 4px;
		padding-bottom: 9px;
		background-color: rgba(#111, 0.85);
		font-size: 28px;
		color: #fff;
		text-align: center;

		h1 {
			margin-bottom: 0;
			font-size: 28px;
		}

		@include media-down(768px) {
			display: block;
		}
	}

	@include media-down(768px) {
		padding-top: 0;
	}
	@include media-down(400px) {
		background-size: 350% auto;
		background-position: calc(50% - 29px) calc(50% - 20px);
	}
}
