.page-header {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 4px;

	h1 {
		margin-bottom: 0;

		@include media-down(1024px) {
			font-size: 30px;
		}
		@include media-down(880px) {
			font-size: 34px;
		}
	}

	.search {
		position: relative;
		margin-top: 6px;

		&__input {
			width: 254px;

			@include media-down(1024px) {
				width: 160px;
			}
			@include media-down(880px) {
				width: 254px;
			}
		}

		&__button {
			position: absolute;
			top: 0;
			right: 0;
			width: 39px;
			height: 39px;
			border-width: 0;
			background-color: transparent;
			transition: background-color 0.3s;
			&::before {
				color: #acacac;
				transition: color 0.3s;
			}
			&:hover {
				&::before {
					color: darken(#acacac, 30%);
				}
			}
			&:focus {
				background-color: #c0c0c0;
				outline: none;
				&::before {
					color: #000;
				}
			}
		}
	}

	@include media-down(768px) {
		display: none;
	}
}
