.popup {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 50%;
	width: 248px;
	padding: 10px 10px 20px;
	background-color: rgba(#000, 0.79);
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #d3d3d3;
	transform: translate(-50%, -100%) translateY(-15px);
	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 12.5px 0 12.5px;
		border-color: rgba(#000, 0.79) transparent transparent transparent;
		content: "";
		transform: translate(-50%, 12px);
	}

	&__header {
		margin-bottom: 9px;
		letter-spacing: 0.03em;
		@include media-down(768px){
			margin-bottom: 8px;
		}
	}

	&__message {
		margin-bottom: 0;
		font-size: 12px;
		line-height: 14px;
		@include media-down(1200px){
			br {
				display: none;
			}
		}
	}

	@include media-down(1200px){
		width: 200px;
	}
	@include media-down(768px){
		width: 144px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
}
