.content {
	width: calc(100% - 338px);
	padding-right: 48px;
	@include media-down(880px) {
		width: 100%;
		padding-right: 0;
	}

	.section--products {
		padding-bottom: 41px;

		.row {
			flex-wrap: wrap;
			margin: 0 -17px;

			.col {
				width: 100%;
				max-width: calc(100% / 5);
				min-width: 140px;
				margin-bottom: 49px;
				padding: 0 17px;
				@include media-down(1150px) {
					max-width: calc(100% / 4);
				}
				@include media-down(1010px) {
					max-width: calc(100% / 3);
				}
				@include media-down(880px) {
					max-width: calc(100% / 4);
				}
				@include media-down(768px) {
					margin-bottom: 43px;
					padding: 0 18px;
				}
				@include media-down(620px) {
					max-width: calc(100% / 3);
				}
				@include media-down(500px) {
					max-width: calc(100% / 2);
				}
			}
		}

		.parrot {
			margin: 0;
			text-align: center;

			&__image {
				display: block;
				width: 100%;
				margin-bottom: 9px;
				border: 1px solid #9d9d9d;
				box-shadow: 0 0 6px 0 rgba(#000, 0.35);
			}

			&__props {
				margin-bottom: 2px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #525252;
			}

			&__title {
				margin: 0 -9px 7px;
				overflow: hidden;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.006em;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.button-wrapper {
				position: relative;
			}
		}

		.more-wrapper {
			margin-top: -3px;
			text-align: center;
			.more {
				font-family: Arial, Helvetica, sans-serif;
				color: #444444;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			@include media-down(768px) {
				display: none;
			}
		}

		@include media-down(768px) {
			padding-bottom: 0;
		}
	}
}
