extends pug/base

prepend vars
	//-

append vars
	- title = "ParrotWings"
	- description = "Description for ParrotWings"

block content
	.content-container.container
		.content-row.row
			main.content(role="main")
				include pug/pages/index/_content.pug
			aside.sidebar
				include pug/common/_sidebar.pug
