footer.footer
	.footer-top
		.container
			.row
				nav.social-menu
					ul.social-menu__list
						li.social-menu__elem
							a.social-menu__link.icon-evernote(href="#", target="_blank")
						li.social-menu__elem
							a.social-menu__link.icon-facebook(href="#", target="_blank")
						li.social-menu__elem
							a.social-menu__link.icon-pinterest(href="#", target="_blank")
						li.social-menu__elem
							a.social-menu__link.icon-twitter(href="#", target="_blank")
						li.social-menu__elem
							a.social-menu__link.icon-youtube(href="#", target="_blank")
						li.social-menu__elem
							a.social-menu__link.icon-github(href="#", target="_blank")
				p.copy
					span ©
					| Parrot Wings
	.footer-main.container
		.footer-main__row.row
			.footer-main__left.row
				.col
					h2 Recruitment Info
					p Candidate First Name: Viktor
					p Candidate Last Name: Ovcharov
					p Spent Time: 14 hours
					p Email:#{' '}
						a(href="mailto:ovcharov.2v@gmail.com") ovcharov.2v@gmail.com
					p Test date: 05.02.2021
				.col
					h2 Resources
					p Loader icon – search on Fontello.com
					p Icons – Entypo
					p Fonts – search in this file
					p Background – standart situation:
						br
						| designer lose file
				.col
					h2 Navigation
					ul
						li
							a(href="#") Development
						li
							a(href="#") Application
						li
							a(href="#") Holding
						li
							a(href="#") About
			.footer-main__right
				img(src="images/common/brousers.png", alt="")
				p Project should work on next stack:#{' '}
					br
					| IE11, actual version of Firefox, Chrome#{' '}
					br
					| on desktop and android, Opera (opera mini),#{' '}
					br
					| Safari on mac and ios.
			p.copy.copy--mobile
				span ©
				| Parrot Wings




