header.header
	nav.main-menu(role="navigation")
		ul.main-menu__list.container
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Home
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Credits
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Exchange
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Partners
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Stock
			li.main-menu__elem
				a.main-menu__link(href="#")
					span Holding
			li.main-menu__elem
				a.main-menu__link(href="#")
					span About
