section.panel.panel--form
	h2.panel__header Sign Up
	form.form(action="#")
		input.input(type="text" placeholder="First Name")
		input.input(type="text" placeholder="Last Name")
		input.input(type="email" placeholder="Email")
		p.note By creating a PW Exchange Account you acknowledge that you have read, understood and agree to the#{' '}
			a(href="#", target="_blank") Terms of Use
			|  and#{' '}
			a(href="#", target="_blank") Privacy Policy.
		.button-wrapper
			button.button.button--light(type="submit")
				span Sign Up
section.panel.panel--loading
	h2.panel__header Online Monitor
	.button-wrapper
		button.button.button--light(type="submit")
			span Connect
